.header-container{
  background: var(--drs-bg-color);
  display: flex;
  justify-content: center;
  padding: 36px 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;

  &-menu{
    width: 1096px;
    background: white;
    height: 74px;
    display: flex;
    justify-content: flex-start;
  }
}
