<section class="header-container">
  <div class="header-container-menu">
    <div class="header-container-menu--logo">
      <a href="/">
        <img src="/logo-drs-@x1.png" alt="Logo-DRS" />
      </a>
    </div>
    <div class="header-container-menu--nav">
      <ul>
        <li class="header-container-menu--nav-item raleway-sm">
          <a href="/">Início</a>
        </li>
        <li class="header-container-menu--nav-item bitter-sm">
          <a href="/quem-somos">Quem Somos</a>
        </li>
        <li class="header-container-menu--nav-item">
          <a href="/portfolio">Portfólio</a>
        </li>
        <li class="header-container-menu--nav-item">
          <a href="/contato">Contato</a>
        </li>
      </ul>
    </div>
    <div class="header-container-menu--wpp" style="background-color:rgba(37, 211, 102, 1); width: 60px; height: 50px">

    </div>
  </div>
</section>
